<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="formRegistrar" (ngSubmit)="registrar()">
    <ion-list>
      <ion-item>
        <ion-input label="Espécie" placeholder="Insira a Especie" formControlName="especie"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Nome" placeholder="Insira o nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Gênero" placeholder="Selecione" formControlName="genero">
          <ion-select-option value="0">Fêmea</ion-select-option>
          <ion-select-option value="1">Macho</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Peso" placeholder="Insira o peso do animal" formControlName="peso" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Saúde" placeholder="Escolha" formControlName="saude">
          <ion-select-option value="0">Machucado/ferido</ion-select-option>
          <ion-select-option value="1">Saudável</ion-select-option>
          <ion-select-option value="2">Doente</ion-select-option>
          <ion-select-option value="3">Aguardando exames</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button size="default" color="success" shape="round">
          <input type="file" (change)="uploadFile($event.target)"/>
        </ion-button>
      </ion-item>
      <ion-button type="submit" expand="block" color="tertiary" >Enviar</ion-button>
    </ion-list>
</form>
</ion-content>
