<ion-header >
  <ion-toolbar>
    <ion-title>Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="formEditar" (ngSubmit)="editar()">
  <ion-list>
    <ion-item>
      <ion-toggle (ionChange)="PermitirEdicao()">Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-item [disabled]="edicao">
      <ion-input label="Espécie" placeholder="Insira a Especie" formControlName="especie"></ion-input>
    </ion-item>
    <ion-item [disabled]="edicao">
      <ion-input label="Nome" placeholder="Insira o nome" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item [disabled]="edicao">
      <ion-select label="Gênero" placeholder="Selecione" formControlName="genero">
        <ion-select-option value="0">Fêmea</ion-select-option>
        <ion-select-option value="1">Macho</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [disabled]="edicao">
      <ion-input label="Peso" placeholder="Insira o peso do animal" formControlName="peso" type="number"></ion-input>
    </ion-item>
    <ion-item [disabled]="edicao">
      <ion-select label="Saúde" placeholder="Escolha" FormControlName="saude">
        <ion-select-option value="0">Machucado/ferido</ion-select-option>
        <ion-select-option value="1">Saudável</ion-select-option>
        <ion-select-option value="2">Doente</ion-select-option>
        <ion-select-option value="3">Aguardando exames</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item *ngIf="animal.downloadURL != null">
      <img src="{{animal.downloadURL}}" />
    </ion-item>
    <ion-item>
      <ion-button size="default" color="success" shape="round" [disabled]="edicao">
        <input type="file" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>
    <ion-button type="submit" expand="block" color="secondary" [disabled]="edicao">Salvar</ion-button>
    <ion-button expand="block" (click)="excluir()" color="danger" [disabled]="edicao">Excluir</ion-button>
  </ion-list>
</form>
</ion-content>
